<!DOCTYPE html>
<html ng-app="WorldieApp">
<head>
  <meta charset="utf8">
  <title>Worldie</title>

  <!-- External JS Resources -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-resource/angular-resource.min.js"></script>  
  <script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>  
  <script src="/vendor/angular-jwt/dist/angular-jwt.min.js"></script> 
  <script src="/vendor/satellizer/satellizer.min.js"></script>



  <!-- Internal JS Resources -->
  <script src="/js/client.js"></script>
  <script src="/js/controllers/users.js"></script>
  <script src="/js/services/oauthKeys.js"></script>
  <script src="/js/services/token.js"></script>

  <!-- Style -->
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">

</head>
<body ng-controller="UserController as user">
<div ng-hide="user.isLoggedIn()">
  <div class="centered">
      <h1>Satellizer</h1>
      <h3>Oauth for Facebook</h3>
      <hr>
      <button class="facebook" ng-click="user.authenticate('facebook')"><i class="fa fa-facebook-square"></i> Sign in with Facebook</button>
    </div>
  </div>


<div ng-show="user.isLoggedIn()">
  <nav>
    <div class="navhome">Home Hello</div>
    <div class="navcart">{{ user.currentUser.name}}</div>
    <div class="logout" ng-click="user.logout()">Logout</div>
  </nav>
  <img ng-src="{{ user.currentUser.picture }}">
  <button class="play" ui-sref="play">Let's Play</button>
  </div>

  <main ui-view class="container">
  

  </main>


</body>
</html>