body {
  margin: 0 auto;
  text-align: center;
  background: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.5px;
  color: #333; }


h1 {
  z-index: 3;
  font-family: 'Montserrat';
  font-size: 100px;
  text-align: center;
  padding-bottom: 20px;
  margin: 0 !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: white;
}

.splash-logo {  
  left: 0vw;
  bottom: 0;
  height: 200px;
  position: absolute;
  text-align: center;
  // padding: 15px;
  width: 100vw !important;
  margin: 0;
}

.topscreen{
  position: relative;
  top: 0;
  height:220px;
  z-index: 3;
}

nav {
  height: 200px;
  width: 100vw !important;
  position: relative;
  left: 0vw;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  // padding: 15px;
  margin: 0;
}


#block{
  display: inline-block;
  vertical-align: top;
}

img.pp {
  position: relative;
  z-index: 1;
  margin-top: 40px;
  max-width: 125px;
  border-radius: 100%; }

.imagecontainer{
  display: inline-block;
  float: left;
  margin-left: 70px;
  text-align: center;
}

.instruction{
  margin-top: 40px;
}

.logout {
  display: block;
  margin-top: 27px;
}

#userscore {
  color: white;
  z-index: 2;
  position:relative;
  margin-top: -94px;
  font-size: 50px;
}

.scores {
  margin-top: 40px;
  float: right;
  overflow-y: scroll;
  height: 150px;
  width: 300px;
  margin-right: 70px;
 /* border: 1px solid #415b93;*/
  color: #415b93;
}

.answercontainer{
  margin-top: 40px;
  margin-left: 147px;
}

.instruction {
  height: 150px;
  width : 400px;
  overflow: -y : scroll;
}

p{
  color: #415b93;
}


button {
  border: 0;
  background: none;
  width: 250px;
  margin: 5px;
  padding: 15px 20px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.5px;
  color: #fff;
  font-size: 16px;
  font-weight: 400; }
  button.facebook {
    margin-top: 45px;
    background: #46629E;
    border: 1px solid #3e578c; }
    button.facebook:hover {
      background: #415b93; }

button.play {
  background: #58B09C;
  border: 1px solid #3e578c; }
}

button.play:hover {
  background: #386150; }


button.next {
  background: #58B09C;
  border: 1px solid #3e578c; }
}

button.next:hover {
  background: #386150; }



#street-view {
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0;
}

#welcomescreen{
  position: relative;
  z-index: 3;
  margin-top: 180px;
}

.next{
  position: relative;
  z-index: 3;
}

#locationField, #controls {
  position: relative;
  width: 480px;
}
#autocomplete {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99%;
}
.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030;
}
#address {
  border: 1px solid #000090;
  background-color: #f0f0ff;
  width: 480px;
  padding-right: 2px;
}
#address td {
  font-size: 10pt;
}
.field {
  width: 99%;
}
.slimField {
  width: 80px;
}
.wideField {
  width: 200px;
}
#locationField {
  height: 20px;
  margin-bottom: 2px;
}

.error {
  color: white;
}

